@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap')

.alef-regular {
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alef-bold {
    font-family: "Alef", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  header{
    background: #D9D9D9;
    
  }
  .margin-right{
    margin-right:20rem;
  }
  .hero-section{
    background:url('public\images\bg1.jpg');
  }